.root {
    text-align: center;
}

.searchList {
    list-style-type: none;
    padding: 8px;
}

.searchInput {
    width: 75%;
    height: 30px;
    font-size: 15px;
    border-radius: 12px;
    padding: 6px;
    border: none;
}